*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a
{
   color: #333; 
    text-decoration: none;
}


#about-hotel .hotel-info
{
  float: left;
  min-height: 100%;
  width: 50%;
}

#about-hotel .hotel-picture
{
  float: right;
  min-height: 100%;
  width: 50%;
}

/* set width 70% -> contains 100% of/within container
b/c if not -> will take up all the original space */
.hotel-picture img
{
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 80%;
}

.bg-dark
{
  background: #333;
  color: #fff;
}

.bg-light
{
  background: #f4f4f4;
  color: #333;
}

.bg-dark-orange
{
  background: #f7c08a;
  color: #333;
}

.bg-primary
{
  background: #333;
  color: #f7c08a;
}

body
{
  line-height: 1.7em;
}

.btn
{
    background: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    /* display: inline-block; */
    font-size: 18px;
    padding: 13px 20px;
}

.btn-dark
{
  background: #333;
  color: #fff;
}

.btn:hover
{
  background: #f7c08a;
  color: #333;
}

.btn-light
{
  background: #f4f4f4;
  color: #333;
}

.clear-float
{
  clear: both;
}

#contact-form .form-group
{
  margin-bottom: 20px;
}

#contact-form label
{
  display: block;
}

#contact-form input,
#contact-form textarea
{
  border: 1px solid #ddd;
  padding:10px;
  width: 100%;
}

#contact-form input:focus,
#contact-form textarea:focus
{
  border-color: #f7c08a;
  outline: none;
}

#contact-form textarea
{
  height: 200px;
}

#contact-info
{
  height: 250px;
}

#contact-info .contact-group
{
  color: #fff;
  float: left;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  width: 33%;
}

.contact-group h3
{
  margin-top: 5px;
}


.hightlight-text
{
    color: #f7c08a;
}

h1, h2, h3
{
   padding-bottom: 20px;
}

#hotel-info
{
  height: 400px;
}

.hotel-history /* info-content */
{
    color: white;
    float: right;
    height: 100%;
    overflow: hidden;
    padding: 50px 30px;
    text-align: center;
    width: 50%;
}

.hotel-history p
{
  padding-bottom: 30px;
}

#hotel-info .hotel-picture /* info-img */
{
  background: url('../img/photo-2.jpg');
  background-position: center;
  float:left;
  min-height: 100%;
  width: 50%;
}

.important-text
{
    font-size: 20px;
}

.larger-header
{
  font-size: 40px;
}

#main-footer
{
  background: #444;
  color: #fff;
  padding: 25px;
  text-align: center;
}

#navbar
{
  background: #333; /* grey */
  color: #fff;
  overflow: auto;
}

#navbar a
{
  color: #fff;
}

#navbar h1
{
  float: left;
  padding-top: 20px;
}

#navbar ul
{
  list-style: none;
  float: right;
}

#navbar li
{
    float: left;
}

#navbar li a
{
  display: inline-block;
  padding: 20px;
  text-align: center;
}

#navbar li a:hover,
#navbar li a.current
{
    background-color: #444;
    color: #f7c08a;
}

p
{
    margin: 10px 0;
}

.py-1 {padding: 10px 0; }
.py-2 {padding: 20px 0; }
.py-3 {padding: 30px 0; }

/* 
The maximum distance the h1 and links will be far away from each other is 1100px
A width in general is also needed for the 'margin auto' to work
The padding will only be noticable once the screen gets down to 1100 pixes or smaller
The icon and links will be to the far left and right respectivelly b/c of floats */
.responsive-container
{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;  
}

#showcase
{
  background: url('../img/showcase.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#showcase .showcase-content
{
    color: #fff;
    padding-top: 170px;
    text-align: center;
}

#showcase p
{
    line-height: 1.7em;
    padding-bottom: 20px;
}

#showcase h1
{
  font-size: 60px;
  line-height: 1.2em;
}


/* ACCOMODATIONS */

#accomodations .accomodation
{
  float: left;
  text-align: center;
  width: 33%;
}

.accomodation i
{
  margin-bottom: 10px;
}

#accomodations .fas
{
  margin-top: 10px;
}

#testimonials
{
  background: url('../img/test-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 100px;
  position: relative;
  text-align: center;
}

#testimonials .testimonial
{
  background: #f7c08a;
  border-radius: 5px;
  opacity: 0.9;
  padding-bottom: 20px;
}

#testimonials h1
{
  color: #fff;
  margin-top: 30px;
}

#testimonials .testimonial img
{
  border-radius: 50%;
  float: left;
  padding: 15px;
  width: 100px;
}

#testimonials .testimonial p
{
  padding-top: 30px;
}